  .dicetext{ font-size:xx-large;
   padding-left:45%;
 color:rgb(255, 6, 6);} 

 .dicetext2{ font-size:xx-large;
    padding-left:45%;
 color:rgb(255, 6, 6);} 

.text{ color:black;
    font-size:xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}


     .foooter{ padding-left:38%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: x-large;} 

.img1{ display:block;
    margin-left:auto;
        margin-right:auto;
        width:30%;}

.img2{ display:block;
    margin-left:auto;
        margin-right:auto;
        width:30%;}
    .h5{
        color: gold;
    }