/* .container{ 
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
padding-left: 50%;} */
/* .dice{align-items: center;} */
.container{
    background-color: gold;
    font-size: 150%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
.dicetext{
   font-size: xx-large;
 padding-left: 50%;
 color:firebrick;

}
.h5{align-self: center;}
.dicetext2{
    font-size: xx-large;
    padding-left: 50%;
    color: firebrick;
}
.img1{padding-left: 50%;
width: 250px;;
}
.dice{padding-left: 50%;
    width:250px;
    }
    .foooter{padding-left:50%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: x-large;}